<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggz.mapper.UserMapper">

	<resultMap id="BaseResultMap" type="com.ggz.pojo.User">

		<result	column="id"				jdbcType="VARCHAR"		property="id"			/>
		<result	column="password"		jdbcType="VARCHAR"		property="passWord"		/>
		<result	column="username"		jdbcType="VARCHAR"		property="userName"			/>
	</resultMap>


	<update id="updateUserByUserInfo" parameterType="com.ggz.pojo.User">
		update User set
			    username      = #{userName},
			    password      = #{passWord}
		where id = #{id}
	</update>
</mapper>
