<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Dao.TreeNodeMapper">

  <resultMap id="BaseResultMap" type="com.Entity.TreeNode">
    <result column="CID" jdbcType="BIGINT" property="cid" />
    <result column="CNAME" jdbcType="VARCHAR" property="cname" />
    <result column="PID" jdbcType="BIGINT" property="pid" />
  </resultMap>
  <select id="queryTreeNode" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from tb_tree where PID =#{pid}
  </select>

  <select id="geTreeNode" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from tb_tree where CID =#{cid}
  </select>

</mapper>

